# To reload this file, run the "Developer: Restart Extension Host" command (Ctrl+Shift+P / Cmd+Shift+P),
lenses:
  disabled:
    - ct-run-test
    - function-references
    - show-behaviour-usages
    - suggest-spec

# Setting this allows ErlangLS to find the cowboy behaviours.
# You'll need to run 'rebar3 get-deps' at the top level.
deps_dirs:
  - "_build/default/lib/*"

# vim: set ft=yaml:
